pyttsx3
DateTime
SpeechRecognition
wikipedia
python-time
wolframalpha
pyjokes
requests
PyAutoGUI
PyAudio
PyPDF2
pyperclip
pytz
sounddevice
scipy
googletrans
pywikihow
PyQt5
opencv-python
speedtest-cli
pyqt5-tools
cv2




























